/*Nav bar line*/
.nav-list {
	top: 0;
	left: 0;
	font-family: tahoma;
	font-weight: bold;
	position: fixed;
	background-color: #494545;
	width: 100%;
}

/*Body Style*/
#bodybg {
	background-blend-mode: blur(25px);
	margin-top: 38px;
}

/*Navigation Pane Style*/
.nav-page ul {
	text-decoration: none;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.nav-page li {
	float: left;
}

.nav-page li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 14px;
	text-decoration: none;
}

.nav-page li:hover:not(#active) {
	background-color: turquoise;
}

/*Dropdown Menu*/
.dropbtn {
	cursor: context-menu;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #6E6666;
	box-shadow: 0px 8px 16px 0px;
	border-radius: 15px 15px 15px 15px;
	margin-top: 1px;
}

.dropdown-content p {
	background-color: white;
	
	color: black;
	margin: 0;
	text-align: center;
	padding: 8px 14px;
	font-size: 12px;
	font-weight: bold;
	font-family: "times new roman"
}

.dropdown-content a {
	color: black;
	font-size: 15.3px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: red;
	border-radius: 15px 15px 15px 15px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#active {
	background-color: #18679F;
}

#active1 {
	background-color: turquoise;
	border-radius: 15px 15px 15px 15px;
}

/*Reservation Button*/
#resbtn {
	position: absolute;
	top: 1;
	right: 8;
	background-color: red;
	border-radius: 25px 25px 25px 25px;
	border: none;
	padding: 2px 24px 4px 24px;
	font-weight: bold;
	color: white;
	font-family: tahoma;
	font-size: 20px;
}

#resbtn:hover {
	transition: transform .3s;
	transform: scale(1.2);
}

/*Schedule Table Style*/
.sched {
	background-color: white;
	margin: 15px;
}

.sched th {
	background-color: #AAA9A9;
	width: 10%;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.sched tr {
	font-size: 14px;
	line-height: 16px;
}

td {
	font-weight: bold;
	text-align: center;

}

td:hover:not(.time) {
	background-color: red;
	transition: transform .4s;
	transform: scale(1.2);
	color: white;
	border: 0 solid black;
	box-shadow: 0px 8px 16px 0px gray;
}

.time {
	width: 7%;
	font-family: monospace;
	background-color: #AAA9A9;
}

/*Body Style*/
h1 {
	text-align: center;
	font-size: 37px;
	background-color: white;
	font-family: tahoma;
	border: 2px solid black;
	border-radius: 35px 35px 35px 35px;
	width: 45%;
	padding: 5px;
	margin: 0 auto 0 auto;
}

/*Footer Style*/
footer {
	font-weight: bold;
	margin-top: 10px;
	background-color: #69B5EA;
	text-align: center;
	border-radius: 15px 15px 15px 15px;
	padding-bottom: 4px;
	bottom: 0;
}

/** {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 515px;
  
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 18px;
  padding: 4px 8px;
  position: absolute;
  bottom: 70px;
  text-align: left;
  background-color: #A8A6A6;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}*/