/*Input designs*/
input[type=text] {
	width: 100%;
	text-align: center;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.equips_1,
.equips_2,
.equips_3,
.equips_4 {
	display: inline-block;
	font-style: italic;
	font-size: 17px;
	margin: 0 7px 0 9%;
}

.resinfo {
	margin: 0 0 0 1.5%;
}

.selection {
	float: right;
	font-weight: bold;
	font-size: 16px;
}

/* Set a style for all buttons */
button:not(#resbtn) {
	background-color: #48d1cc;
	color: white;
	padding: 7px 10px;
	margin: 0 2% 0 2%;
	border: none;
	cursor: pointer;
	width: 46%;
}

.btn {
	display: inline-block;
}

.container {
	padding: 16px;
}

/* Modal Background */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	
}

.modal-content {
	background-color: #fefefe;
	margin: 4% auto 0 auto;
	border: 1px solid #888;
	width: 65%;
}

/*Zoom Animation*/
.animate {
	-webkit-animation:animatezoom 0.6s;
	animatikon: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0);}
	to {-webkit-transform: scale(1);}
}

@keyframes animatezoom {
	from {transform: scale(0);}
	to {transform: scale(1);}
}

