/*Accordion Style*/
.acc-content {
	width: 98%;
	align-self: center;
	margin: 0 auto 0 auto;
}

.accordion {
	background-color: #857F7F;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	transition: 0.4s;
	border-radius: 5px 5px 5px 5px;
}

.accordion.active, .accordion:hover {
	background-color: #27CABA;
}

.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.accordion.active:after {
	content: "\2796";
}

.panel {
	padding: 0 18px;
	font-size: 20px;
	background-color: #E8E3E3;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
}

.panel.show {
	opacity: 1;
	max-height: 500px;
}

footer {
	display: none;
}